<div class="modal fade" id="modal-loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               
            </div>
            <div class="modal-body" style="text-align:center;">
                <h5>Loading . . .</h5>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>